.ui-mobile, .ui-mobile .ui-page{
    background-color: black;
    background-image: none;
    color: #FFFFFF;
}


.ui-page.waiting .app-title{
	margin: 10px 0 0 0;
	color: #FFF;
	font-size: 40px;
	text-align: center;
}

.workout-icon{
    display: block;
    text-decoration: none;
	padding: 0px 0px;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: 100% 80%;
	width: 100%;
	height: 150px;
	text-align: center;
	color: #FFF;
}

.tracy-cycling{
	background-image: url('../images/bicycle-solid.svg');
}

.tracy-running{
	background-image: url('../images/walking-solid.svg');
}

.ui-page.finish .ui-content {
    background-image: url('../images/finish_background.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.ui-page.destination .ui-content,
.ui-page.navigation .ui-content,
.ui-page.finish .ui-content {
    /*top: 0 !important;*/
    height: 100% !important;
}

.ui-page.finish .ui-header .ui-header-btn::after {
    -webkit-mask-image: url(../images/close_button.png);
}

.ui-header{
    text-align: center;
    min-height: 30px;
    padding: 10px 0 0 0;
}

.workout-item-big{
    width: 100%;
    text-align: center;
    height: 160px;
}

hr{
    margin: 5px;
}

.workout-paused{
    display: none;
    font-size: 17px;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.workout-item-big .workout-data{
    font-size: 85px;
    color: #AFFD58;
}

.workout-item-small{
    text-align: center;
    width: 100%;
}

.workout-item-small .workout-data{
    margin: 0 5px;
    padding: 0 20px 0 30px;
}

.workout-item-small .workout-hr{
    background: transparent url('../images/heart-solid.svg') no-repeat;
}

.workout-item-small .workout-altitude{
    background: transparent url('../images/altitude-icon.svg') no-repeat;
}

.finish-flag {
    width: 100%;
    content: url('../images/finish_flag.png');
    position: absolute;
    top: 96px;
}

.status-indicator{
    margin: 0px 10px 0 10px;
    width: 20px;
    height: 20px;
}

.gps-status {
    float: left;
    background: transparent url('../images/gps-indicator-active.svg') no-repeat;
    animation: blinker 2s linear infinite;
}

.gps-status-active {
    float: left;
    background: transparent url('../images/gps-indicator-active.svg') no-repeat;
}

.network-status{
    float: right;
    background: transparent url('../images/network-indicator.svg') no-repeat;
}

.network-status-active{
    float: right;
    background: transparent url('../images/network-indicator-active.svg') no-repeat;
}

.ui-page.destination.map .ui-content {
    top: 55px !important;
    height: calc(100% - 55px) !important;
}

.ui-page.destination .map {
    visibility: hidden;
}

.ui-page.destination.map .map {
    visibility: visible;
}

.ui-page.destination .manual {
    visibility: visible;
}

.ui-page.destination.map .manual {
    visibility: hidden;
}

.ui-btn.ui-state-disabled {
    color: #fff;
    opacity: .5;
}


.ui-page.destination .ui-header,
.ui-page.navigation .ui-header,
.ui-page.finish .ui-header {
    background-color: transparent;
    position: absolute;
}

.waiting-message {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 17px;
    height: 50px;
    margin-top: 30px;
    padding-left: 30px;
    background-image: url('../images/map-marked-alt-solid.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 30% 50%;
    animation: blinker 2s linear infinite;
}

.waiting-message.lost {
    color: rgb(29, 126, 130);
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.manual {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    bottom: 76px;
}

.start {
    height: 167px;
    color: rgb(31, 157, 168);
}

.start .text {
    position: absolute;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
}

.start .header {
    width: 100%;
    text-align: center;
    top: 12px;
}

.start .label {
    left: 19px;
    width: 119px;
    text-align: left;
}

.start .label.latitude {
    top: 62px;
}

.start .label.longitude {
    top: 102px;
}

.start .value {
    right: 19px;
    width: 119px;
    text-align: right;
}

.start .value.latitude {
    top: 62px;
}

.start .value.longitude {
    top: 102px;
}

.path-background {
    width: 100%;
    content: url('../images/manual_background_path.png');
    position: absolute;
    top: 128px;
    z-index: -1;
}

.ui-content.keyboard-on .path-background {
    display: none;
}

.end {
    position: relative;
    height: 316px;
    color: #fff;
}

.ui-content.keyboard-on .start {
    display: none;
}

.ui-content.keyboard-on .end {
    height: 100%;
}

.end .text {
    position: absolute;
    height: 20px;
    width: 100%;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
}

.end .header {
    top: 106px;
}

.ui-content.keyboard-on .end .header {
    top: 24px;
}

.end .text.latitude {
    top: 152px;
}

.ui-content.keyboard-on .end .text.latitude {
    top: 71px;
}

.end .text.longitude {
    top: 240px;
}

.ui-content.keyboard-on .end .text.longitude {
    top: 161px;
}

.end .value {
    position: absolute;
    height: 36px;
    width: 100%;
}

.end .value.latitude {
    top: 177px;
}

.ui-content.keyboard-on .end .value.latitude {
    top: 97px;
}

.end .value.longitude {
    top: 265px;
}

.ui-content.keyboard-on .end .value.longitude {
    top: 190px;
}

.end .value .input {
    -webkit-appearance: none;
    border: 0;
    background: none;
    font-size: 30px;
    color: #fff;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    letter-spacing: .26em;
}

.end .input.invalid,
.end .label.invalid,
.end .input.invalid::-webkit-input-placeholder {
    color: rgb(0, 110, 120);
}

.ui-content.keyboard-on .end .input-dot.focused {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -9px;
    background-image: url('../images/caret_indicator.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.ui-btn:not(.ui-btn-circle):not(.ui-btn-nobg):not(.ui-floatingactions-item) {
    background-color: rgb(249, 129, 0);
}

.ui-btn:not(.ui-btn-circle):not(.ui-btn-nobg):not(.ui-floatingactions-item)::before {
    background-color: rgb(217, 112, 0);
}


.distance-label {
    position: absolute;
    width: 100%;
    height: 17px;
    top: 568px;
    line-height: 17px;
    font-size: 15px;
    text-align: center;
    color: #fff;
}

.distance-value {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 510px;
    line-height: 50px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(29, 126, 130);
}

.navigation .ui-scrollview-view {
    overflow: hidden !important;
}

.finish .message {
    position: absolute;
    top: 439px;
    color: #fff;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    width: 100%;
}

.ui-popup .ui-popup-header {
    color: rgb(42, 204, 217);
}

.ui-btn{
    border-radius: 0 !important;
    margin: 5px;
}

.ui-btn.yes:not(.ui-btn-circle):not(.ui-btn-nobg):not(.ui-floatingactions-item) {
    background-color: #AFFD58;
    color: black;
}

.ui-btn.yes:not(.ui-btn-circle):not(.ui-btn-nobg):not(.ui-floatingactions-item)::before {
    background-color: rgb(40, 182, 193);
}

.ui-btn.no:not(.ui-btn-circle):not(.ui-btn-nobg):not(.ui-floatingactions-item) {
    background-color: transparent;
    border: 2px solid #AFFD58;
    color: #AFFD58;
}

.ui-btn.no:not(.ui-btn-circle):not(.ui-btn-nobg):not(.ui-floatingactions-item)::before {
    background-color: rgb(37, 130, 137);
}
